<h2 ng-bind="player"></h2>
<div class="game">
  <button class="btn btn-block btn-lg btn-success add-point" ng-click="details.addPoint(player)">+</button>
  <p class="points" ng-bind-template="{{details.game.scoreTally[player] || 0}}"></p>
  <button class="btn btn-block btn-lg btn-danger remove-point" ng-click="details.removePoint(player)">-</button>
</div>
