@mixin font-face ($font-family, $font-weight, $font-style, $font-path, $font-file) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src:  url('#{$font-url}/#{$font-file}.eot');
    src:  url('#{$font-url}/#{$font-file}.eot?#iefix') format('embedded-opentype'),
          url('#{$font-url}/#{$font-file}.woff2') format('woff2'),
          url('#{$font-url}/#{$font-file}.woff') format('woff'),
          url('#{$font-url}/#{$font-file}.ttf') format('truetype'),
          url('#{$font-url}/#{$font-file}.svg##{$font-file}') format('svg');
  }
}

$font-family: 'Museo Sans';
$font-weights: 100, 300, 500, 700;

@each $font-weight in $font-weights {
  @include font-face($font-family, $font-weight, normal, $font_url, 'museo-sans-#{$font-weight}');
}
