<div class="details-controller" ng-controller="detailsController as details">
  <div class="jumbotron">
    <div class="container">
      <p class="pull-left back-button"><a href="/home">Back</a></p>
      <h1 class="text-center" id="title" ng-bind-template="{{details.game.pair[0]}} vs {{details.game.pair[1]}}"></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text-center" ng-if="details.game.winner">
        <h1 ng-bind-template="Congratulations {{details.game.winner}}!"></h1>
        <p class="lead">This game is now concluded, and the winner was {{details.game.winner}} after a {{details.game.sets.length}} set game.
      </div>
      <div class="col-sm-8" ng-if="!details.game.winner">
        <div class="row">
          <div class="player col-xs-6 text-center" ng-attr-id="{{$index}}" ng-repeat="player in details.game.pair track by $index">
            <div ng-include="'/templates/partials/player.html'"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="set-history text-center">
          <h2>Score</h2>
          <p class="score" ng-bind-template="{{details.game.setTally[details.game.pair[0]] || 0}}-{{details.game.setTally[details.game.pair[1]] || 0}}"></span>

          <ol class="list-unstyled">
            <li ng-repeat="set in details.game.sets" ng-bind-template="{{set[0]}}-{{set[1]}}">
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>