<div class="index-controller" ng-controller="indexController as index">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h1 id="title">Ping Pong Score!</h1>
          <p>Have you ever hosted the OPPC? That's short for the Office&nbsp;Ping&nbsp;Pong&nbsp;Championship. If you have, you'll love this app!</p>

          <p>What are you waiting for, get your game on!</p>
          
          <div class="row">
            <div class="col-sm-8 col-md-6">
              <a id="new-game" href="/new" class="btn btn-warning btn-lg btn-block">New game</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>What is this, really?</h2>
        <p>Imagine if you could easily start a new game, and as the game progresses, keep adding to the score board. Once a set is over the next will kick in, and after the winner has been decided the result is presented. All progress is saved instantaneously. This is an OPPC dream come true. Just wow.</p>
      </div>      
      <div class="col-sm-4">
        <h2>Game history</h2>
        <p ng-if="index.games.length == 0">No games played yet! <a href="/new">Get started</a> to see some scores</p>
        <dl class="dl-horizontal">
          <dt ng-repeat-start="game in (filteredItems = (index.games | orderBy: 'startDate' : true ))">
            <a ng-href="/details/{{game.id}}" ng-bind-template="{{game.pair[0]}} vs {{game.pair[1]}}"></a>
          </dt>
          <dd ng-repeat-end ><span ng-bind-template="on {{game.startDate | date:'MMM dd \'at\' HH:mm'}}"></span></dd>
        </dl>
      </div>
      <div class="col-sm-4">
        <h2>Player statistics</h2>
        <p ng-if="!index.stats">No stats available! <a href="/new">Play a game</a> to see claim your place at the hall of fame.</p>
        <dl class="dl-horizontal dl-horizontal-narrow">
          <dt class="name" ng-repeat-start="(name, player) in (filteredItems = (index.stats | orderBy: 'player.wins'))" ng-bind="name"></dt>
          <dd class="stats" ng-repeat-end ng-bind-template="Wins: {{ player.wins || 0 }}, Losses: {{ player.losses || 0 }}"></dd>
        </dl>
      </div>
    </div>    
  </div>
</div>
