<div class="index-controller" ng-controller="newController as new">
  <div class="jumbotron">
    <div class="container">
      <p class="back-button"><a href="/home">Back</a></p>
      <h1 class="text-center" id="title" ng-bind="new.title"></h1>
    </div>
  </div>
  <div class="container">
    <form class="form-horizontal" ng-submit="new.startGame()">
      <div class="row">
        <div class="col-sm-9 col-md-6 col-md-push-6">
          <h2>In the red corner...</h2>
          <p>There's no real red or blue corner in ping pong, nor is there any home or away team. But one has to be Player 1, while the other person inevitably is Player 2. It's not like Mario and Luigi back in the days, the younger brother can be Player 1!</p>
          <hr class="visible-sm visible-xs">
        </div>
        <div class="col-sm-9 col-md-6 col-md-pull-6">
          <div class="form-group form-group-lg">
            <label for="player1" class="col-sm-4 col-md-3 control-label">Player 1</label>
            <div class="col-sm-8 col-md-9">
              <input type="text" class="form-control" placeholder="Name" ng-model="new.player1" />
            </div>
          </div>
          <div class="form-group form-group-lg">
            <label for="player2" class="col-sm-4 col-md-3 control-label">Player 2</label>
            <div class="col-sm-8 col-md-9">
              <input type="text" class="form-control" placeholder="Name" ng-model="new.player2" />
            </div>
          </div>
          <div class="form-group form-group-lg">
            <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
              <button type="submit" id="start-game" name="start-game" class="btn btn-warning btn-block btn-lg">Start game</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
