.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  min-height: 56px;
  z-index: 10;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .banner-show-video & {
    display: none;
  }
}

.banner-body {
  position: relative;
  z-index: 2;
  transform-origin: 50% 90% 0px;
  .banner-show-video & {
    display: none;
  }
}

.banner-navbar {
  position: relative;
  margin-bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

.banner {
  color: #fff;
  background-color: $brand-success;
}

.banner-orange .banner-background {
  background-color: $brand-warning;
}
.banner-red .banner-background {
  background-color: $brand-danger;
}

.banner-green .banner-background {
  background-color: $brand-success;
}

.banner-blue .banner-background {
  background-color: $brand-info;
}

.banner-video {
  width: 100%;
  padding-bottom: percentage(9/16);
  position: relative;
  display: none;
  .banner-show-video & {
    display: block;
  }
}

.banner-show-video .banner-video-hidden {
  display: none;
}

.banner-video-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
}

.banner-video-controls {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  z-index: 101;
}
