

@mixin button-variant($color, $background, $border, $border-width) {
  color: $color;
  background-color: $background;
  box-shadow: 0 (-$border-width) 0 $border inset;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    box-shadow: none;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
    box-shadow: 0 $border-width 0 darken($border, 8%) inset;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      box-shadow: 0 (-$border-width) 0 $border inset;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin button-variant-outlined($color, $border-width) {
  background-color: transparent;
  color: $color;
  border: $border-width solid transparent;
  border-color: $color;
  box-shadow: 0 0 0 transparent;
  &:hover,
  &:focus {
    color: $color;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $color;
    box-shadow: 0 0 0 transparent;
    border-color: $color;
    @if $color == #fff {
      color: $gray-dark;
    } @else {
      color: #fff;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $font-weight, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  border-radius: $border-radius;
  -webkit-font-smoothing: antialiased;
}

// Base styles
// --------------------------------------------------

.btn {
  border: none;
}

// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($gray-dark, $gray-light, $gray, $border-width);
  &.btn-outlined {
    @include button-variant-outlined(#fff, $btn-outlined-border-width);
  }
}

.btn-success {
  @include button-variant(#fff, $brand-success, $brand-success-dark, $border-width);
  &.btn-outlined {
    @include button-variant-outlined($brand-success, $btn-outlined-border-width);
  }
}

.btn-warning {
  @include button-variant(#fff, $brand-warning, $brand-warning-dark, $border-width);
  &.btn-outlined {
    @include button-variant-outlined($brand-warning, $btn-outlined-border-width);
  }
}

.btn-danger {
  @include button-variant(#fff, $brand-danger, $brand-danger-dark, $border-width);
  &.btn-outlined {
    @include button-variant-outlined($brand-danger, $btn-outlined-border-width);
  }
}

.btn-info {
  @include button-variant(#fff, $brand-info, $brand-info-dark, $border-width);
  &.btn-outlined {
    @include button-variant-outlined($brand-info, $btn-outlined-border-width);
  }
}

.btn-inverted {
  @include button-variant-outlined($gray-darker, $btn-outlined-border-width);
}

.btn-inverse {
  @include button-variant-outlined($brand-success, $btn-outlined-border-width);
  &.btn-outlined {
    @include button-variant-outlined($gray-darker, $btn-outlined-border-width);
  }
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-font-weight-large, $border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-font-weight-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-font-weight-small, $border-radius-small);
}

