

.form-control {
  box-shadow: 0 0 0 #fff;
  font-weight: $input-font-weight-base;
  border-width: $input-border-width;
  &.input-sm {
    font-weight: $input-font-weight-small;
  }
  &.input-lg {
    font-weight: $input-font-weight-large;
  }
}



.input-group-btn:last-child {
  > .btn,
  > .btn-group {
    margin-left: 0;
  }
}