@media screen and (max-width: $screen-sm-max) {
  .col-md-inside-border-6:nth-child(n+2) {
    border-top: $border-width solid #fff;
  }
}

@media screen and (min-width: $screen-md-min) {
  .col-md-inside-border-6 {
    &:nth-child(3n+3),
    &:nth-child(3n+4) {
      border-top: $border-width solid #fff;
    }
    &:nth-child(even) {
      border-left: $border-width solid #fff;
    }
  }
}

.col-filled {
  padding: 1px;
}

.col-filled-body {
  padding: 15px;
  background-color: #fff;
  position: relative;
}
