.jumbotron-transparent {
  background: transparent;
}

.jumbotron {
  background: transparent url('../img/ping-pong-pub-sml.jpg') center center no-repeat;
  background-size: 100% 100%;
  background-size: cover;

  color: white;

  h1 {
    margin-top: 0;
  }

  .back-button {
    @extend .pull-left;
    a {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}