.dl-horizontal {
  dt {
    text-align: left;
    width: 120px;
  }

  dd {
    margin-left: 130px;
  }

  &.dl-horizontal-narrow {
    dt {
      width: 90px;
    }

    dd {
      margin-left: 100px;
    }
  }
}