
.navbar-brand {
  padding: 8px 15px;
  > img {
    height: 34px;
  }
}

.navbar-transparent {
  background-color: transparent;
  border-color: transparent;
  .navbar-nav {
    padding: 5px 0;
  }
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav > li > a {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
      background-color: transparent;
    }
  }
}

.navbar-transparent-success {
  background-color: transparent;
  border-color: transparent;
  .navbar-brand {
    color: $brand-success;
  }
  .navbar-nav > li > a {
    color: $brand-success;
    &:hover,
    &:focus {
      color: $brand-success;
      background-color: transparent;
    }
  }
}
