@import "variables";

@import "fonts/museo-sans";

@import "../lib/bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "buttons";
@import "forms";
@import "banner";
@import "navs";
@import "navbar";
@import "jumbotron";
@import "grids";
@import "img";
@import "panels";
@import "lists";
@import "text";
@import "score";

body {
  -webkit-font-smoothing: antialiased;
}

.bg-success {
  background-color: $brand-success;
}
.bg-warning {
  background-color: $brand-warning;
}
.bg-dark {
  background-color: $gray-dark;
}
.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.text-success {
  color: $brand-success;
}
